body {
  background-image: url("../public/s.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  margin: 0;
  height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B3351;
}

nav {
  margin-right: 1em;
  display: flex;
  color: white;
}

.link-styles {
  padding: 0 30px;
  color: aliceblue;
  text-decoration: none; 
  font-size: 30px;

}

.link-user {
  font-size: 1.5em;
  color: aliceblue;
  text-decoration: none; 
  position: relative;
  left: 1em;
  padding:0 1em; 

}

.formSlip {
  position: relative;
  align-items: center;
  text-align: center;
  /* left: 10em;
  margin-top: 2em; */
  width: 40em;
  height: 40em;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 0.76;
}

.formSlip label{text-align: left;
  font: normal normal normal 30px/35px Felix Titling;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;

}

.formSlip input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
}

.formSlip button {
  background: #52DE5B 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
}

h3{
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.harbor{
  position: relative;
  align-items: center;
  text-align: center;
  /* left: 10em; */
  margin-top: 2em;
  width: 40em;
  height: 10em;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 0.76;
}
.harbor button {
  text-align: left;
  position: relative;
  bottom:5em;
  left: 10em;
  letter-spacing: 0px;
  color: #4D4D4D;
  opacity: 1;
  padding: 5px;
  margin: 5px;
}

.boatformBG{
  height: 70vh;
  width: 50%;
  background-color: #000000;
  border-radius: 7%;
  padding: 5%;
  /* opacity: 55%; */
}

.boatform, .boatformBG {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  text-align: center;
  opacity: 100%;
}

.allboats{
  display: flex;
  flex-direction: row;
}

.profilepic {
  width: 50px; height: auto; border-radius: 50%;
}

.welcome {
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.h {
  margin-top: 50px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}

.profile {
  display: flex-end;
}
.profile {
  position: fixed;
  top: -10px;
 right: 1px;
  font-size: 3em;

}
.log {
  position: fixed;
  top: 1px;
  right: 0px;

}



.card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
  margin: 30px;

}



.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
  width: 50%;
}


button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	/* font-weight: 500; */
	padding: 10px 25px;
  width: 100px;
  height: 50px;
  margin: 5px;
font-size: 10px;

}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
  width: 50px;
  width: 100px;
  height: 50px;
  margin: 5px;

}

buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.full {
background-color: #231E39;
margin: 5px;
color: white;
font-family: Montserrat, sans-serif;
text-align: center;
}

input {
  margin: 8px;
}

.all {
align-items:center;
}

.input-wrapper {
  align-items: center;
}

.cen {
  align-items: center;
}

label {
  margin: 2px ;
}