body {
  background-image: url("../public/mesmerizing-shot-crystal-blue-ocean-waves.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-family: 'Arial';
  margin: 0;
  height: 100vh;
}
